// Offcanvas navigation // Desktop Navigation

.desktop-nav {
  position: absolute;
  right: 5.8rem;
  top: 25.7rem;

  i {
    color: #ffffff;
    width: 6px;
    height: 6px;
    position: relative;
    bottom: 41.5rem;
    left: 4rem;
  }
}

.offcanvas-item {
  padding-left: 5rem;
  font-size: $font-sm;
  a {
    @media (min-width: 992px) {
      margin-bottom: 5rem;
    }

    li {
      @media (min-width: 992px) {
        transform: rotate(90deg);
      }
    }
  }
}

// External Navigation

.external-nav {
  li {
    a {
      i {
        color: #ffffff;
        font-size: 2.5rem;
      }
    }
  }
}

// Navigation links

.navigation {
  h2 {
    font-size: $font-md;
    color: $color-red;
    padding-top: $space-5;

    @media (min-width: 992px) {
      padding-top: 0;
    }
  }

  hr {
    margin: $space-2 0rem;
    width: 7rem;
    height: 0rem;
    border: 1px solid #ffffff;
  }
}


// resume

.resume {
  color: $color-red;
  font-size: $font-md;
  margin-top: 7rem;
}