// Variables

// Background

$background-primary: #171717;
$background-secondary: #171717;
$background-terciary: #444444;

// Font sizes

$font-xs: 1.2rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 2rem;
// Colors

$color-primary: #FFFFFF;
$color-secondary: #7d7c84;

$color-red: #DA0037;

// Custom spacing utilites

$space-6: 6rem;
$space-5: 5rem;
$space-4: 4rem;
$space-2: 2rem;
$space-1: 1rem;

// Borders

$border: 1px solid $color-red !important;