// Variables

// Background

$background-primary: #1B1B1E;
$background-secondary: #212123;

// Font sizes

$font-xs: 1.2rem;
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 2rem;
// Colors

$color-secondary: #49494B;

$color-red: #DB4747;

// Custom spacing utilites

$space-6: 6rem;
$space-5: 5rem;
$space-4: 4rem;
$space-2: 2rem;
$space-1: 1rem;

// Borders

$border: 1px solid $color-secondary !important;